<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
        <h2>Upcoming Service Projects</h2>
        <ul>
            <% projects.forEach(project => { %>
                <li><strong><%= project.title %></strong>: <%= project.description %> partner: <a href="/organizations/<%= project.organization_id %>"><%= project.name %></a> <br> <a href="/project/<%= project.project_id %>">View Details</a></li>
            <% }); %>
        </ul>
</main>

<%- include('partials/footer') %>