<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
        <h2>Upcoming Service Projects</h2>
        <ul>
            <% projects.forEach(project => { %>
                <li><strong><%= project.title %></strong>: <%= project.description %> (<%= project.project_date %>)</li>
            <% }); %>
        </ul>
</main>

<%- include('partials/footer') %>